.Name{
    font-size: 76px;
     font-weight: 600;
    font-family: 'Playfair Display', serif; 
    text-align: center;  
}
.Projects{
    padding-top: 200px;

}
.firstcars{
    margin-top: 100px;
    display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: 250px;
  grid-auto-flow: dense;
}
.firstcars img{
    height: 15em;
}
.secondcars img{
    margin-top: 20px;
    height: 15em;
}
.button{
   
  width: 148px;
  height: 36px;
  font-family: 'Kulim Park', sans-serif;
  font-size: 10px;
  margin-top: 50px;
  color: black;
  border: 1px solid #e3a062;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: #fff;
  
}
.button:hover{
    background-color:#e3a062;
    color: white;
}
.buttons{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
